body {
    background-color: rgb(1, 13, 31);
    font-family: "Gudea", sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.credit-info{
    color: rgb(107, 107, 107);
    font-size: 0.8rem;
}

table,
th,
td {
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid rgb(33, 40, 83);
    color: gainsboro;
    width: 25vw;
    height: 5vh;
}

.market-data{
    width: 60vw;
}

label, p, h3{
    color: gainsboro;
}

.crypto-form {
    min-height: 20vh;
}

.crypto-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 15vw;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
}

.crypto-form label {
    font-size: 18px;
    font-weight: bold;
    color: gainsboro;
}

.crypto-form select,
.crypto-form button {
    padding: 1.5vh 1vw;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
    min-width: 200px;
}

.crypto-form select {
    width: 100%;
    background-color: #1b2a41;
    color: gainsboro;
}

.crypto-form button {
    background-color: #507bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.crypto-form button:hover {
    background-color: #0057cc;
}

.main-text {
    font-weight: bold;
}